***Ternary Conditionals***

In [14]:
x=3 if 4==5 else 6
x

6

***Lists***

In [72]:
l = [1,2,3]
l.extend([[100,200,300]])
l

[1, 2, 3, [100, 200, 300]]

In [73]:
l.insert(2,5555)
l.insert(2,7777)

l

[1, 2, 7777, 5555, 3, [100, 200, 300]]

In [74]:
l.remove(5555)

In [75]:
l

[1, 2, 7777, 3, [100, 200, 300]]

In [76]:
l.pop(2)

7777

In [77]:
l

[1, 2, 3, [100, 200, 300]]

In [79]:
l.index(3) # ilk görülen 2 nin indexini verir

2

In [38]:
l=[1,2,3,4]
l.reverse()
l

[4, 3, 2, 1]

In [40]:
l[::-1]

[1, 2, 3, 4]

In [43]:
sortlist=[44,3,56565,11]
sorted(sortlist) # kaydetmez | liste güncellenmez

[3, 11, 44, 56565]

In [44]:
sortlist

[44, 3, 56565, 11]

In [46]:
# şu şekilde güncellenir:
sortlist.sort()
sortlist

[3, 11, 44, 56565]

In [49]:
listedeneme=[2,4,6,2,1,6,4]
listedeneme.remove(4)

In [51]:
listedeneme.remove(4)
listedeneme

[2, 6, 2, 1, 6]

In [57]:
listedeneme.insert(2,999)
listedeneme

[2, 6, 999, 999, 2, 1, 6]

In [89]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
x= int(input())

list_=[]
for i in range(x):
    count_names= input()
    list_.append(count_names)
set_=set(list_)

print(len(set_))

 3
 a
 b
 a

2

In [3]:

###### Enter your code here. Read input from STDIN. Print output to STDOUT

from collections import defaultdict
d = defaultdict(list)

n, m = map(int, input().split())

for i in range(1,n+1):
    d[input()].append(str(i))
    
for i in range(m):
    print (' '.join(d[input()]) or -1)

 7 4
 1
 1
 1
 4
 4
 3
 3
 4

4 5

 4

4 5

 4

4 5

 1

1 2 3

In [ ]:
for i in range(m):
    print ('      '.join(d[input()]) or -1)

 4

4      5

 1

1      2      3

### List Comprehensions

In [2]:
squaredlist=[i*i for i in range(10)]
squaredlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
oddsquareds=[i for i in squaredlist if i%2==1]
oddsquareds

[1, 9, 25, 49, 81]

In [7]:
[e if e%2==0 else 777 for e in squaredlist]

[0, 777, 4, 777, 16, 777, 36, 777, 64, 777]

In [32]:
def is16(number):
    if number==16:
        return False
    return True
[e if e%2==0 else 777 for e in squaredlist if is16(e)]

[0, 777, 4, 777, 777, 36, 777, 64, 777]

In [31]:
import itertools

per1,per2,per3 = itertools.permutations([i for i in range(2)]),itertools.permutations([i for i in range(2)]),itertools.permutations([i for i in range(3)])
 
for val1,val2,val3 in zip(per1,per2,per3):
    print(*val1)
    print(*val2)    
    print(*val3)

0 1
0 1
0 1 2
1 0
1 0
0 2 1

In [28]:
liste=[i for i in range(2)]+[i for i in range(4,10)]
liste

[0, 1, 4, 5, 6, 7, 8, 9]

https://www.hackerrank.com/challenges/list-comprehensions/problem

In [35]:
x=7

def f(x):

    res=5
    
    res*=res
    
    if x%2==0:
    
        print("Sonuc: ", res)

f(4)

Sonuc:  25

In [36]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
n = int(input())
if(1<=n<=150):
    num_list=[str(i) for i in range(1,n+1)]
"".join(num_list)

 5

'12345'

In [43]:
print(*range(1,10),sep="")

123456789

In [48]:
f"aaa {4}"

'aaa 4'