***Ternary Conditionals***

In [14]:
x=3 if 4==5 else 6
x

6

***Lists***

In [72]:
l = [1,2,3]
l.extend([[100,200,300]])
l

[1, 2, 3, [100, 200, 300]]

In [73]:
l.insert(2,5555)
l.insert(2,7777)

l

[1, 2, 7777, 5555, 3, [100, 200, 300]]

In [74]:
l.remove(5555)

In [75]:
l

[1, 2, 7777, 3, [100, 200, 300]]

In [76]:
l.pop(2)

7777

In [77]:
l

[1, 2, 3, [100, 200, 300]]

In [79]:
l.index(3) # ilk görülen 2 nin indexini verir

2

In [38]:
l=[1,2,3,4]
l.reverse()
l

[4, 3, 2, 1]

In [40]:
l[::-1]

[1, 2, 3, 4]

In [43]:
sortlist=[44,3,56565,11]
sorted(sortlist) # kaydetmez | liste güncellenmez

[3, 11, 44, 56565]

In [44]:
sortlist

[44, 3, 56565, 11]

In [46]:
# şu şekilde güncellenir:
sortlist.sort()
sortlist

[3, 11, 44, 56565]

In [49]:
listedeneme=[2,4,6,2,1,6,4]
listedeneme.remove(4)

In [51]:
listedeneme.remove(4)
listedeneme

[2, 6, 2, 1, 6]

In [57]:
listedeneme.insert(2,999)
listedeneme

[2, 6, 999, 999, 2, 1, 6]

In [89]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
x= int(input())

list_=[]
for i in range(x):
    count_names= input()
    list_.append(count_names)
set_=set(list_)

print(len(set_))

 3
 a
 b
 a

2

In [3]:

###### Enter your code here. Read input from STDIN. Print output to STDOUT

from collections import defaultdict
d = defaultdict(list)

n, m = map(int, input().split())

for i in range(1,n+1):
    d[input()].append(str(i))
    
for i in range(m):
    print (' '.join(d[input()]) or -1)

 7 4
 1
 1
 1
 4
 4
 3
 3
 4

4 5

 4

4 5

 4

4 5

 1

1 2 3

In [ ]:
for i in range(m):
    print ('      '.join(d[input()]) or -1)

 4

4      5

 1

1      2      3

### List Comprehensions

In [2]:
squaredlist=[i*i for i in range(10)]
squaredlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
oddsquareds=[i for i in squaredlist if i%2==1]
oddsquareds

[1, 9, 25, 49, 81]

In [7]:
[e if e%2==0 else 777 for e in squaredlist]

[0, 777, 4, 777, 16, 777, 36, 777, 64, 777]

In [32]:
def is16(number):
    if number==16:
        return False
    return True
[e if e%2==0 else 777 for e in squaredlist if is16(e)]

[0, 777, 4, 777, 777, 36, 777, 64, 777]

In [31]:
import itertools

per1,per2,per3 = itertools.permutations([i for i in range(2)]),itertools.permutations([i for i in range(2)]),itertools.permutations([i for i in range(3)])
 
for val1,val2,val3 in zip(per1,per2,per3):
    print(*val1)
    print(*val2)    
    print(*val3)

0 1
0 1
0 1 2
1 0
1 0
0 2 1

In [28]:
liste=[i for i in range(2)]+[i for i in range(4,10)]
liste

[0, 1, 4, 5, 6, 7, 8, 9]

https://www.hackerrank.com/challenges/list-comprehensions/problem

In [35]:
x=7

def f(x):

    res=5
    
    res*=res
    
    if x%2==0:
    
        print("Sonuc: ", res)

f(4)

Sonuc:  25

In [36]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
n = int(input())
if(1<=n<=150):
    num_list=[str(i) for i in range(1,n+1)]
"".join(num_list)

 5

'12345'

In [43]:
print(*range(1,10),sep="")

123456789

In [48]:
f"aaa {4}"

'aaa 4'

In [5]:
for i in map( lambda x: x**2, [1,2,3,4,5]):
    print(i)

1
4
9
16
25

In [14]:
def deco(f):
    def inside():
        print("started")
        f()
        print("ended")
    return inside
def write():
    print("writed")

decoooo=deco(write)

In [15]:
decoooo()

started
writed
ended

In [19]:
@deco
def write_deco_way():
    print("writed deco way")
write_deco_way()

started
writed deco way
ended

In [20]:
[input() for _ in range(int(input()))]

 3
 2
 3
 4

['2', '3', '4']

## İnheritance

In [2]:
class Employee:
    raise_percent= 1.05
    num_emp= 0
    def __init__(self, name, last, age, pay):
        self.name=name
        self.last=last        
        self.age=age        
        self.pay=pay
        Employee.num_emp+=1
    def apply_reise(self):
        self.pay = self.pay * self.reise_percent

In [10]:
class IT(Employee): 
    reise_percent=1.2
    def __init__(self,name,last,age,pay,lang):
        super().__init__(name,last,age,pay)
        self.lang=lang

In [12]:
it=IT("james", "huges", "32", 500,"python")
it.name

'james'

In [13]:
it.__dict__

{'name': 'james', 'last': 'huges', 'age': '32', 'pay': 500, 'lang': 'python'}

## magic methods

In [20]:
class Employee:
    raise_percent= 1.05
    num_emp= 0
    def __init__(self, name, last, age, pay):
        self.name=name
        self.last=last        
        self.age=age        
        self.pay=pay
        Employee.num_emp+=1
    def apply_reise(self):
        self.pay = self.pay * self.reise_percent
    def __str__(self):
        return "HHHHHHHHHHHHHHHHHMMMMMMMMMMMMMMMMMMM"

In [21]:
employee=Employee("james", "huges", "32", 500)
print(employee)

HHHHHHHHHHHHHHHHHMMMMMMMMMMMMMMMMMMM

## numpypandas

In [24]:
import numpy as np
np.linspace(1,30, num=3)

array([ 1. , 15.5, 30. ])

In [34]:
a=np.arange(1,7)
x=a[np.newaxis,:]
x.shape

(1, 6)

In [35]:
x

array([[1, 2, 3, 4, 5, 6]])

In [106]:
arr=np.array([])
arr

array([], dtype=float64)

In [109]:
arr=arr.reshape(-1,2)
arr

array([], shape=(0, 2), dtype=float64)

In [117]:
arr=np.concatenate([arr,[[int(input()),int(input())]]])

ValueError: invalid literal for int() with base 10: ''

In [118]:
arr

array([[2.00000000e+00, 3.00000000e+00],
       [5.00000000e+00, 6.00000000e+00],
       [3.43200000e+03, 3.24234435e+11]])

AttributeError: 'list' object has no attribute 'shape'